/* .Conatainer-padre{
   width:600px ;
   height:500px ;
   background-color:palevioletred;
   a todos los lados le aplicara 10px 
   margin:10%;
    top  right bottom left
   margin: 100px 10px 20px 10%; 
   margin-top: 100px;
   margin-right: 10px;
   margin-bottom: 100px;
   margin-left: 10px;

   padding:10px;
   top  right bottom left *
   padding:100px 10px 20px 10px ;

   padding-right: 20px;
   padding-top: 30px;
   padding-left: 50px;
   padding-bottom: 30px;

} */
